.p-button-group{
    display: flex;
    gap: 1rem;
}

:host ::ng-deep .submit-button-shape {
  width: 2.5rem !important; 
  height: 2.5rem !important; 
  padding: 0 !important; 
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 50% !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

:host ::ng-deep .submit-button-shape-help {
  width: 1.5rem !important; 
  height: 1.5rem !important; 
  padding: 0 !important; 
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 50% !important;
}


.submit-button .icon {
    height: 1.25rem;
    width: 1.25rem; 
}

.buttons-dialog{
  margin-top: 5%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.flex-auto{
  width: 100%;
  height: 30px;
  border: none;
  background: #e9e9e9;
}