.main {
    display: flex;
    grid-template-columns: 1fr; /* grid-cols-1 (mobile default) */
    gap: 1.5rem; /* gap-6 */
    padding-top: 1%;
}

.dashboard-card {
    background-color: var(--color-white);
    padding: 1.5rem; /* p-6 */
    border-radius: 0.75rem; /* rounded-xl */
    box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.1), 0 1px 1px 0px rgba(0, 0, 0, 0.1); /* shadow-lg */
    height: 95vh; /* h-96 (384px) */
    align-items: center;
    justify-content: center;
    border-left-width: 0px; /* border-l-4 */
    border-left-style: solid;
}

.dashboard-card-2 {
    background-color: var(--color-white);
    padding: 1.5rem; /* p-6 */
    border-radius: 0.75rem; /* rounded-xl */
    box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.1), 0 1px 1px 0px rgba(0, 0, 0, 0.1); /* shadow-lg */
    height: 100vh; /* h-96 (384px) */
    align-items: center;
    justify-content: center;
    border-left-width: 0px; /* border-l-4 */
    border-left-style: solid;
}


.width-table {
  width: 38%;
}

.width-bill {
  width: 100%;
  display: block;
}

.display-table{
  display: table;
}

.image-fixed{
    width: 100%;
    height: 100%;
    object-fit: hidden;
}
