.image-canvas-container {
    width: 100%; 
    height: 80vh; 
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 5%; 
    box-sizing: border-box;
}


:host {
    display: block;
    flex: 1; 
    min-width: 0;
    position: relative; 
    overflow: hidden;
}