:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.dashboard-main {
    display: flex;
    flex: 1; 
    grid-template-columns: 1fr; 
    gap: 1.5rem; 
    padding-top: 1%;
}

.dashboard-card {
    background-color: var(--color-white);
    padding: 1.5rem; 
    border-radius: 0.75rem; 
    box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.1), 0 1px 1px 0px rgba(0, 0, 0, 0.1);
    height: 95vh; 
    align-items: center;
    justify-content: center;
    border-left-width: 0px; 
    border-left-style: solid;
}

.feature-bill{
  display: block;
}

.display-bill{
  display: flex;
}

.display-template-bill{
  display: contents;
}

.width-bill {
  width: 38%;
}

.bill{
  height: 60%;
}

.item{
  display: flex;
}

.card{
  background: #f0f3f3;
  padding-bottom: 3%;
}
