
      <div 
        class="upload-container" 
        (click)="fileInput.click()" 
        (drop)="onDrop($event)" 
        (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)"
        [class.drag-over]="isDraggingOver"
      >
        <input 
          type="file" 
          #fileInput  
          [multiple]="multipleFiles" 
          [accept]="formatFiles" 
          style="display: none;"
        >
        <ng-container *ngIf="selectedFiles.length>0">
          <div class="upload-prompt">
            @for (file of selectedFiles; track trackByFn($index, file); let i = $index) {
                <div class="file-info-container">
                    <i [class]="getFileIcon(file)" class="file-type-icon"></i>
                    <span class="file-name-text">{{ file?.name }}</span>
                </div>
            }
          </div>
        </ng-container>
      </div>

