.card-container {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.upload-prompt{
    display: inline-flex;
    padding-left: 1%;
}

.file-type-icon{
  color: gray;
}