:host ::ng-deep .p-splitter-gutter {
    pointer-events: none;
    visibility: hidden; 
}

.splitter-container {
    width: 60vw;
}


.panel-content {
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.width-table{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.buttons-dialog{
  margin-top: 5%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}