.main-wrapper {
    min-height: 85vh;
    background-color: var(--gray-bg);
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.card-container {
    width: 100%;
    max-width: 60rem;
    padding: 2rem; 
    background-color: white;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    border-radius: 1rem; 
    border-top: 4px solid var(--secondary-teal); 
    transition: all 0.3s ease-in-out;
}

.relative-container {
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    line-height: 1.5;
    flex-grow: 1; 
    min-width: 35rem; 
    width: 0; 
    overflow: hidden; 
}

.prompt-input {
    width: 100%;
    box-sizing: border-box;
    display: block;
    font-size: 1rem; 
    padding: 1rem 4rem 1rem 40px;    
    overflow-y: hidden;  
    min-height: 15rem;;  
    height: auto;            
    background: aliceblue;
    color: #333;
    outline: none;
    border: none;
}

.editor-content-wrapper {
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
}

.p-selector-group {
    max-height: 20rem;     
    overflow-y: auto;      
    overflow-x: hidden;   
    border: 1px solid #e5e7eb; 
    border-radius: 0.5rem;
    padding-right: 0.5rem;  
    min-width: 20rem;      
    flex-shrink: 0;  
}

.p-selector-group::-webkit-scrollbar {
    width: 6px;
}

.p-selector-group::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
}

.p-selector-group::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-teal);
}

.button-editor{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    gap: 1.5rem;                    
    width: 100%;
}

.radio-button {
    display: flex;
    align-items: center;
}

.flex-options {
    display: flex;
    align-items: center;
    gap: 1rem;                      
}

.title-header {
    display: flex;
    align-items: center; 
    gap: 12px;           
    margin-bottom: 1rem; 
}

.title-text {
    margin: 0;  
    font-size: 1.5rem;  
}