.main {
    display: flex;
    grid-template-columns: 1fr;
    gap: 1.5rem; 
    padding-top: 1%;
    height: auto; 
    min-height: 100vh;
    align-items: flex-start; 
}

.dashboard-card {
  background-color: var(--color-white);
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.1), 0 1px 1px 0px rgba(0, 0, 0, 0.1); 
  min-height: 95vh; 
  height: auto;
  align-items: center;
  justify-content: center;
  border-left-width: 0px;
  border-left-style: solid;
  flex-direction: column;
  overflow: hidden;
}

.display-basic-template{
  display: flex;
}

.list-container {
  height: 100%; 
  width: 100%; 
  display: flex;
  flex-direction: column; 
}

.feature-bill{
  display: block;
}

.display-bill{
  display: flex;
}
.width-bill {
  width: 60%;
}

.bill {
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
}

.item{
  display: flex;
}

.card{
  background: #f0f3f3;
  padding-bottom: 3%;
}

chat-buttons {
  flex-shrink: 0;
  padding-top: 1rem; 
}

bill-skeleton {
  flex-grow: 1; 
  overflow-y: auto;
}